
html body {

wight : 100vh;

}

hr {
    background:#949494;
    height:1px;
    border:0;
}


.backGround01   /* 배경 둥근 모서리*/
{

 border-radius: 10px;
 background-color: #0F0F0F;
 position: fixed;
 box-sizing: border-box;
 width: 100%;
 height:100%;

}

.topMenu{    /* 상단바*/

background-color : #0F0F0F;
border-radius: 10px;
box-sizing: border-box;
height : 48px;
width : calc( 100% - 25px);
padding-left: ;
display: flex;
margin: 5px 5px 5px 5px;
}

.side-bar {
  border-radius: 10px;
  position: fixed;
  background-color:#0F0F0F;
  box-sizing: border-box;
  width: 240px;
  height :calc(100% - 55px);
  text-align: left;
  padding : 13px 10px 0px 10px;
  overflow-y: auto;

  top : 55px;
}

.mini-side-bar{

width: 100px;
    background-color: #212121;
    color: #fff;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
}


.content01{
border-radius: 10px;
position : fixed;
top: 0px;
left: 250px;
background-color: #0F0F0F;
z-index : -1;
height : auto;

  box-sizing: border-box;
  width :calc(100% - 260px);
  height :100%;
  margin : 0px 0px 10px 10px;
  padding-left: 10px;
  padding-top: 100px;

  display : block;

  overflow-y: auto;
  scrollbar-color: #ABABAB #0F0F0F;

}

.container-fluid{
padding: 10px 20px 10px 0px;
}


#top01{   /*세줄 버튼*/
border: 0;
outline: 0;
width: 40px;
height: 40px;
border-radius: 50%;
background-color : #0F0F0F;
position : relative;
margin-left: 10px;
margin-right: 10px;

}

#top01:hover{

background-color: #333333;
}



#top02{   /* 검색바 */
box-sizing: border-box;
height: 40px;
width: 700px;
border-radius: 50px 0px 0px 50px;
font-size: 20px;
background-color: #0F0F0F;
border: 2px solid #333333;
}

#top02:focus{
width: 800px;
box-sizing: border-box;
height: 40px;
outline: none;
border: 1px solid #0A6EFF;


}


.searchText{



}

#top03{ /*검색 버튼 */
box-sizing: border-box;
height: 40px;
width : 75px;
border-radius: 0px 50px 50px 0px;
border: 0;
outline: 0;
padding: 0px;
}


#topSearch{
border: 2px solid #333333;
}

.topSearch01{
text-align : center;
}

/* 음성 아이콘*/
#top04{
border: 0;
outline: 0;
width: 40px;
height: 40px;
border-radius: 50%;
background-color : #272727;
margin: 0px 20px;
}

#top04:hover{
background-color: #3B3B3B;
}

#top05{
border: 2px solid #333333;
border-radius: 30px;
font-size: 19px;
width: 130px;
height: 50px;
background-color : #0F0F0F;
margin: 10px 0px 0px 0px;
color: #ffffff;
}

#top05:hover{
background-color : #333333
}

/* top 설정키 드롭다운 메뉴들*/
#setting01{
width: 400px;
border: 0;
outline: 0;
border-radius:20px;
background-color : #222222;
font-size: 20px;
font-family: 맑은고딕;
font-color: #fafafa;
font-wight: bold;
text-align: justify;
line-height: 48px; /* 줄높이 */
left: -350px; /* y좌표 이동 */
}

#setting02{   /*top 설정 버튼 */
border: 0;
outline: 0;
width: 40px;
height: 40px;
border-radius: 50%;
background-color : #0F0F0F;
}


.topButton01{
margin-right : 3px;
margin-left : 3px;
}
.dropdown-menu a i {
margin:5px 20px 5px 10px;
}


  .side-bar ul li{
    background-color : #0F0F0F;
    padding: 0px;
    list-style: none;
    margin : 0px;
    width : 220px;
     height: 43px;
    border-radius : 10px;

    }

.side-bar ul > li > a {

  display: block;
  font-size:15px;
  padding-top: 7px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #ffffff;
  width : 220px;
  height: 43px;
  border-radius : 10px;
  margin:0px 20px 0px 0px;
  background-color : #0F0F0F;
   text-align: left;
}

.side-bar ul > li > a > i {
margin-right :20px;
}

/* 사이드 메뉴 버튼 */



#setting03_1:hover{
background-color: #333333;
}
#setting03_2:hover{
background-color: #333333;
}
#setting03_3:hover{
background-color: #333333;
}
#setting03_4:hover{
background-color: #333333;
}
#setting03_5:hover{
background-color: #333333;
}


#setting04{

border: 0;
outline: 0;
width: 100px;
height: 36px;
border-radius: 50px;
background-color :  #272727;
font-size:15px;

}

#setting04:hover{

border: 0;
outline: 0;
width: 100px;
height: 36px;
border-radius: 50px;
background-color :  #222222;
font-size:15px;

}


.side-bar ul {

  padding :0px;
  margin: 0px;
  font-color: #fafafa;
  border-radius : 10px;
  width : 220px;
  height: 43px;


  }


.contentButton01{
position : fixed;
background-color: #0F0F0F;
margin : 3px 5px 20px 3px;
border-radius: 10px;
position :relative;
top: 60px;
left: 260px;

box-sizing: border-box;
  width : calc(100% - 285px);
  height: 35px;

/*
  box-sizing: border-box;
  width :100%;
  height :calc(100% - 60px);
  margin : 10px 10px 10px 10px;
  padding-left: 10px;
  overflow-y: auto;

  */
}

.contentButton01 button{

border: 0;
outline: 0;
width: auto;
min-width : 55px;
height: 35px;
border-radius: 10px;
font-size:15px;
color: white;
background-color: #222222;
margin-left : 3px;


}


.contentButton01 button:focus{


background-color: #F9FFFF;
color: black;
font-weight:Semi Bold;



}

.play_01{

width : 100%;
height : 330px;
padding: 30px 0px 10px 0px;


}

.content_icon{
background-color : yellow;}



.play_02{

width : 100%;
height : 500px;
padding: 48px 5px 10px 10px;
margin -left: 10px;



}

.play_02 .col{
width: 20%;
height: 300px;
padding: 0px 10px 0px 10px;
}

