
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

html body {

width : 100vh;

}

.backGround01   /* 배경 둥근 모서리*/
{

 border-radius: 10px;
 background-color: #0F0F0F;
 position: fixed;
 box-sizing: border-box;
 width: 100%;
 height:100%;
 overflow-y: auto;
   scrollbar-color: #ABABAB #0F0F0F;
   padding-left:5px;

}





.playContent{
background-color :#0F0F0F;
width: 65%;
height: 75%;
border-radius : 20px;
padding-top:70px;
}

.playComment01{

background-color : #0F0F0F;
height: 13%;
border-radius : 20px;
color : white;
font-size:20px;
font-weight :bold;
padding: 5px;

}
.playComment{
background-color :#0F0F0F;
width: 65%;
height: auto;
border-radius : 20px;
color : white;
min-width: 65%;
}


.playComment div{
display: inline-block;
}

#channelName {
background-color:#0F0F0F;
width : 100px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
margin-left : 5px;
font-weight : bold;
position:relative;
top: 10px;
left: 5px;
display : inline-block;
}


#subscriber{
background-color:#0F0F0F;
width : 120px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
font-size: 13px;
color: lightgray;
margin-left : 5px;
position:relative;
top: -20px;
left: 50px;
}


/*댓글창*/

.userComment{
background-color : #272727;
max-width: 65%;
height: 500px;
border-radius : 20px;
font-family: sans-serif;
}

.commentForm{
display: flex;
flex-direction: column;
gap:10px;
}

#commentInput{
width : 100%;
height: 80px;
padding: 10px;
resize: none;
font-size: 14px;
}

#submitComment{
align-self: flex-end;
padding: 8px 16px;
font-size: 14px;
cursor: pointer;

}

.commentList{
margin-top: 10px;
margin-botto,: 10px;
background-color: yellow;
border-radius: 50px;
}

.sidebarRight{
background-color : blue;
position: absolute;
left: 66%;
top : 16%;
border-radius : 20px;
box-sizing: border-box;
 width: 34%;
 height :100%;
 overflow-y: auto;
}


#playTitle{
font-size :  20px;
font-weight: bold;
color: white;
}


.subButton{
display:inline-block;
border: 0;
outline: 0;
width: 120px;
height: 36px;
border-radius: 50px;
position: relative;
top: -90%;
left: 3%;
}


.btn{
background-color: #282827;
color: #EDEDED;
width : auto;
border-radius: 50px;
font-size:14px;
font-weight: bold;
}

.btn:hover{
background-color: #3F3F3F;
color: #EDEDED;
width : auto;
border-radius: 50px;
}



#setting05{
width: 100px;
border: 0;
outline: 0;
border-radius:20px;
background-color : #282828;
font-size: 15px;
font-family: 맑은고딕;
color: #EDEDED;
font-wight: bold;
line-height: 30px; /* 줄높이 */
}

.dropdown-item{
color: #EDEDED;
}


.playButton01{
width :auto;
position : relative;
top: -90%;
left: 25%;
background-color: #0F0F0F;
flex-wrap: nowrap;
}

@media (max-width: 1000px) {
  #btnSetting {
    display: none;
  }
}

@media (max-width: 800px) {
  #offSave {
    display: none;
  }
}

.playButton{

width: 100%;
height: 60px;
border-radius : 20px;
flex-wrap: nowrap;
}

#videoDescriptionContainer {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* 3줄 제한 */
  line-height: 1.5em;
  max-height: 100px;
  text-overflow: ellipsis;
  white-space: normal;
  transition: max-height 0.3s ease;
  padding : 8px;
}

#videoDescriptionContainer.expanded {
  -webkit-line-clamp: unset;
  display: block;
  max-height: 1000px; /* 충분히 크게 */
  overflow: visible;
}

#toggle{
 margin-top: 5px;
  cursor: pointer;
  display: inline-block;
  font-size:14px;
  font-weight:bold;
  border: 0;
  outline: 0;
  background-color: #282827;
  color: #EDEDED;
  width : auto;

}


#top03_01{
box-sizing: border-box;
height: 40px;
width : auto;
border-radius: 50px 0px 0px 50px;
border: 0;
outline: 0;
padding-top: 8px;
}


#top03_02{
box-sizing: border-box;
height: 40px;
width : 50px;
border-radius: 0px 50px 50px 0px;
border: 0;
outline: 0;
padding-top: 8px;
}

#btnSetting{
border-radius: 50%;
}

.contentComment{
border-radius: 20px;
width : 98%;
z-index:5;
padding: 5px;

  border: 0;
  outline: 0;
  background-color: #2A2727;
  color: #EDEDED;
  width : auto;
}



.collapsed {
  max-height: 50px;
  overflow: hidden;
  transition: max-height 0.2s ease;
}
.expanded {
  max-height: 1000px;
}


.playComment_01{
background-color : #272727;
position : relative;
left: 5px;
top: 3px;
width: 100%;
height: 200px;
border-radius : 20px;
color : white;
}

.sidebarRightButton{

background-color : black;
position: absolute;
left: 66%;
top : 10%;
border-radius : 20px;
box-sizing: border-box;
 width: 34%;
 height :5%;

 display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: gray;

}


.contentButton02{
width: 85%;
overflow-x:auto;
white-space: nowrap;
scroll-behavior: smooth;
flex-shrink: 0;

scrollbar-width: none;
-ms-overflow-style: none;

}

.contentButton02::-webkit-scrollbar{
display :none;
}


.contentButton02 button{
display:inline-block;
border: 0;
outline: 0;
width: auto;
min-width : 55px;
height: 30px;
border-radius: 10px;
font-size:15px;
color: white;
background-color: #272727;
margin-left : 3px;
white-space: normal;
}


.contentButton02 button:focus{


background-color: #F9FFFF;
color: black;
font-weight:Semi Bold;

}

.wrapper{
display: flex;
flex-direction: row;
align-items: center;
gap: 5px;

flex-wrap: nowrap;
width: fit-content;
max-width: 100%;
}

.scroll-button{
border-radius: 50%
background-color: #F9FFFF;
width: 30px;
height: 30px;
cursor: pointer;
flex-shrink:0;
}


#thumbsUpCount{
display: inline-block;
}



.shake-animation {
  animation: shake 0.4s ease;
}


#videoDescription{
 white-space: pre-line;
 font-size:14px;
 font-weight : bold;
 line-height: 10px;


}

.playButton .contentButton{

position:relative;
top:0px;
left: 10px;
}